body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #d7d7f7; 
    color: #000000; 
    padding: 20px;
    line-height: 1.6;
    max-width: 900px; 
    margin: 0 auto;
}

h1, h2 {
    
    color: #000080; 
    border-bottom: 2px solid #000080; 
    padding-bottom: 5px;
    margin-top: 30px;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 8px; 
    margin: 5px 10px 5px 0; 
    vertical-align: middle;
}

main {
    padding: 20px;
    background-color: rgb(80, 53, 255); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #d7d7f7; 

}